<% provide :title, 'Sign up' %>

<h1>Sign up today!</h1>
<blockquote class="center">
  <p>Remember that they are only books; the people are what are important.</p>
  <small>Christine Alexander, Founder, New Haven Reads</small>
</blockquote>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => 
{ :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

<!-- TODO: Validate Organization name uniqueness correctly -->
<!-- TODO: Implement tooltips for form inputs -->
<!-- TODO: show errors on problem with signing up --> 
  <div class="form-inputs">
  	<%= f.input :organization, :required => false %>
    <%= f.input :name, :required => false %>
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :password_confirmation, :required => false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
