  <% unless @user.orders.empty? %>
    <table class = "table table-striped table-bordered">
      <thead>
        <tr>
          <th>Entered By</th>
          <th>Quantity</th>
          <th><%= sortable "eta", "ETA" %></th>
          <th><%= sortable "created_at", "Entered At" %></th>
        </tr>
      </thead>
      <tbody>
      <% for order in @orders %>
        <% unless order.completed %>
        <tr>
          <td><%= order.user.name %></br><span class="org-name"><%= order.user.organization.name %></span></td>
          <td><%= order.line_item.quantity %></td>
          <td><%= order.eta.strftime("%m-%d-%Y %I:%M %p") %></td>
          <td><%= order.created_at.strftime("%m-%d-%Y %I:%M %p") %></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No orders to display.</p>
  <% end %>