<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
  	<section>
  		<!-- Basic user information -->
	  	<%= @user.name %>
		<%= @user.email %>
	</section>
	<section>
		<!-- Navigation -->
		<ul class="nav nav-list">
		  <li><%= link_to "New order", new_order_path %></li>
		  <li><%= link_to "Past orders", '#' %></li>
		  <li><%= link_to "Statistics", '#' %></li>
		</ul>
	</section>
  </aside>
  <h1>Current Orders</h1>
  <div class="span9">
	<%= render 'display_orders' %>
  </div>
</div>