<% unless params[:action] == 'print' %>
<div class="span4">
  <aside class="span3">
    <section>
      <!-- Basic user information -->
      <%= current_user.organization.titleize %></br>
	    <%= current_user.name %>
      <%= current_user.email %>
    </section>
    <section>
      <ul class="nav nav-list">
        <li><%= link_to "New order", new_order_path %></li>
        <li><%= link_to "Order history", history_user_path(current_user) %></li>
        <li><%= link_to "Statistics", statistics_user_path(current_user) %></li>
      </ul>
    </section>
    <!-- Buttons for show orders page -->
    <% if params[:action] == 'show' && params[:controller] == 'orders' %>
    <div class="buttons">
      <%= render 'print_button', :order => @order %>
      <%= render 'edit_button', :order => @order %>
      <%= render 'delete_button', :order => @order %>
    </div>
    <% end %>
  </aside>
</div>
<% end %>