<tr>
<!-- TODO: Style table further with blue and orange -->
  <td><%= link_to order.organization.titleize, order_path(order) %></td>
  <td><%= order.destination %></td>
  <td><%= order.total_books %></td>
  <td><%= order.eta.strftime("%b %e, %Y") %></td>
  <td><%= order.created_at.strftime("%b %e, %Y") %></td>
</tr>