<% if !@user.all_orders_completed? %>
    <table class="table table-bordered" id="products">
      <thead>
        <tr>
          <th>Organization</th>  <!-- fix the sortable method -->
          <th>Total Books</th>
          <th>ETA</th>
          <th>Entered On</th>
          <th>Confirm</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @user.orders.each do |order| %>
          <% unless order.completed? %>
          <tr>
            <td><%= link_to order.organization.name, order_path(order) %></td>
            <td><%= order.total_books %></td>
            <td><%= order.eta.strftime("%b %e") %></td>
            <td><%= order.created_at.strftime("%b %e") %></td>
            <td><%= link_to '#', class: "btn btn-mini btn-success" do %>
              <i class="icon-ok icon-white" id="Confirm"></i>
              <% end %>
            </td>
            <td><%= link_to(edit_order_path(order), class: "btn btn-mini btn-info") do %>
              <i class="icon-edit icon-white" id="Edit"></i>
                <% end %>
              </td>
            <td><%= link_to delete_order_path(order), class: "btn btn-mini btn-danger", :confirm => "Are you sure you want to do that?" do %>
              <i class="icon-trash icon-white"></i> 
                <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @orders %>
  <% else %>
    <p>No orders to display.</p>
  <% end %>