<% if !@user.all_orders_completed? %>
    <table class="table table-bordered" id="orders" data-source="<%= orders_url(format: "json") %>">
      <thead>
        <tr>
          <th>Organization</th>  <!-- fix the sortable method -->
          <th>Total Books</th>
          <th>ETA</th>
          <th>Entered On</th>
        </tr>
      </thead>
      <tbody>
        <% @user.orders.each do |order| %>
          <% unless order.completed? %>
          <tr>
            <!-- TODO: Style table further with blue and orange -->
            <td><%= link_to order.organization.titleize, order_path(order) %></td>
            <td><%= order.total_books %></td>
            <td><%= order.eta.strftime("%b %e, %Y") %></td>
            <td><%= order.created_at.strftime("%b %e, %Y") %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No orders to display.</p>
  <% end %>