<% if !@user.all_orders_completed? %>
    <table class="table table-bordered" id="products">
      <thead>
        <tr>
          <th>Organization</th>  <!-- fix the sortable method -->
          <th>Total Books</th>
          <th>ETA</th>
          <th>Entered On</th>
          <th>Confirm</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @user.orders.each do |order| %>
          <% unless order.completed? %>
          <tr>
            <td><%= link_to order.user.organization, order_path(order) %></td>
            <td><%= order.total_books %></td>
            <td><%= order.eta.strftime("%b %e, %Y") %></td>
            <td><%= order.created_at.strftime("%b %e, %Y") %></td>
            <td><%= render 'confirm_button', :order => order %></td>
            <td><%= render 'edit_button', :order => order %></td>
            <td><%= render 'delete_button', :order => order %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @orders %>
  <% else %>
    <p>No orders to display.</p>
  <% end %>