<% provide(:title, 'New Order') %>
<div class="row">
  <%= render 'shared/sidebar' %>
  <div class="span8">
  <h1>New order</h1>
  <%= render 'form_errors' %>
  <%= semantic_form_for @order do |f| %>
    <%= f.inputs do %>
      <%= f.input :eta, :as => :string, :label => "Estimated Time of Arrival" %> 
      <%= f.semantic_fields_for :line_items do |li| %>
        <%= render 'line_item_fields', :f => li %>
      <% end %>
      <!-- TODO: refactor so it adds after, not before -->
      <%= link_to_add_association 'Add line item', f, :line_items %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit %>
    <% end %>
  <% end %>
</div>