<% provide(:title, 'New Order') %>
<div class="row">
  <%= render 'shared/sidebar' %>
  <div class="span8">
  <h1>New order</h1>
  <%= render 'form_errors' %>
      <%= form_for @order, :html => { :class => "form-horizontal" } do |f| %>
      <fieldset>
        <div class="control-group">
            <%= f.label :eta, 'Estimated Time of Arrival', class: "control-label" %>
          <div class="controls">
          <%= f.text_field :chronic_eta, class: "span2", id: 'Estimated Time of Arrival', 
          :autocomplete => "off" %>
        </div>
      </div>

        <%= fields_for @line_item do |x| %>
        <div class="control-group">
            <%= x.label :genre, 'Genre', class: "control-label" %>
          <div class="controls">
            <%= x.text_field :genre, class: "span2", id: "Genre", :data => { :provide => 'typeahead', :source => @autocomplete_items }, :autocomplete => "off" %> 
          </div>
        </div>

          <div class="control-group">
              <%= x.label :quantity, 'Quantity of Books', class: "control-label" %>
            <div class="controls">
              <%= x.number_field :quantity, class: "span1" %>
            </div>
          </div>
        <% end %>

        <%= f.submit class: "btn btn-large btn-primary" %>
      </fieldset>
      <% end %>
  </div>
</div>