<% provide(:title, 'New Order') %>
<%= javascript_tag "var autocomplete_items = #{ @autocomplete_items.to_json };" %>

<!-- Le JS -->
<script type="text/javascript">
    jQuery(document).ready(function() {
        $('.auto_complete').typeahead({source: autocomplete_items});
    });
</script>

<!-- Le ERB -->
<div class="row">
  <%= render 'shared/sidebar' %>
  <div class="span8">
  <h1>New order</h1>
  <%= simple_form_for(@order, :html => { :class => 'form-horizontal'}) do |f| %>
    <%= f.input :eta, :label => "Estimated Time of Arrival", :as => :string, :input_html => { :class => "span2", 
      autocomplete: "off" } %>
    <%= f.simple_fields_for :line_items do |li| %>
      <%= render 'line_item_fields', :f => li %>
    <% end %>
    <%= link_to_add_association 'Add Line Item', f, :line_items %></br> <!-- CSS this so it looks pretty -->
    <%= f.button :submit %>
  <% end %>
</div>
