<% provide(:title, 'New Order') %>
<div class="row">
  <%= render 'shared/sidebar' %>
  <div class="span8">
    <h1>New order</h1>
      <%= render 'form_errors' %>
      <%= form_for @order do |f| %>
        <%= f.label :eta, 'Estimated Time of Arrival' %>
        <%= f.text_field :chronic_eta, class: "span2", id: 'Estimated Time of Arrival', 
        :autocomplete => "off" %></br>

        <%= fields_for @line_item do |x| %>

          <%= x.label :genre, 'Genre' %>
          <%= x.text_field :genre, id: "Genre", :data => { :provide => 'typeahead', :source => 
            @autocomplete_items }, :autocomplete => "off" %> 

          <%= x.label :quantity, 'Quantity of Books' %>
          <%= x.number_field :quantity, class: "span1" %>
        <% end %></br>

        <%= f.submit class: "btn btn-large btn-primary" %>
      <% end %>
  </div>
</div>