<% provide(:title, 'Order Profile') %>
<div class="row">
	  <%= render 'shared/sidebar' %>
  <div class="span8">
  	<h2>Order Breakdown</h2>
    <table class="table table-condensed">
	  <thead>
	    <th>Genre</th>
		<th>Amount</th>
	  </thead>
	  <tbody>
	  <% @order.line_items.each do |li| %>
	    <tr>
		  <td><%= li.genre %></td>
		  <td><%= li.quantity %></td>
		</tr>
	  <% end %>
	  </tbody>
	</table></br>

	<h2>General Information</h2>
	<table class="table">
	  <tbody>
	  	<tr>
	      <td>Entered by:</td> 
	      <td><%= @order.user.name %></td>
	    </tr>
	    <tr>
	      <td>Created at:</td>
	      <td><%= @order.created_at.strftime("%b %e, %I:%M %p") %></td>
	    </tr>
	    <tr>
	      <td>Expected pickup:</td>
	      <td><%= @order.eta.strftime("%b %e, %I:%M %p") %></td>
	    </tr>
	  </tbody>
	</table>
	<div class="buttons">
	  <%= render 'print_button', :order => @order %>
	  <%= render 'confirm_button', :order => @order %>
	  <%= render 'edit_button', :order => @order %>
	  <%= render 'delete_button', :order => @order %>
	</div>
</div>