<!DOCTYPE html>
<html>
<head>
  <title>NH Reads Book Center | <%= yield(:title) %></title>
  <%= render 'layouts/random' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
